<% content_for :title, "Editar alumno" %>

<h1>Editar alumno</h1>

<%= render "form", alumno: @alumno %>

<br>

<div>
  <%= link_to "Mostrar alumno", @alumno, class: "btn btn-secondary" %> |
  <%= link_to "Regresar a alumnos", alumnos_path, class: "btn btn-secondary" %>
</div>
