<% content_for :title, "Nuevo alumno" %>

<h1>Nuevo alumno</h1>

<%= render "form", alumno: @alumno %>

<br>

<div>
  <%= link_to "Volver a alumnos", alumnos_path, class: "btn btn-secondary" %>
</div>