<% content_for :title, "Editar profesor" %>

<h1>Editar profesor</h1>

<%= render "form", profesor: @profesor %>

<br>

<div>
  <%= link_to "Mostrar profesor", @profesor, class: "btn btn-secondary" %> |
  <%= link_to "Regresar a profesores", profesores_path, class: "btn btn-secondary" %>
</div>
