<p style="color: green"><%= notice %></p>

<% content_for :title, "Profesores" %>

<h1>Profesores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Colegio</th>
    </tr>
  </thead>
  <tbody>
    <% @profesores.each do |profesor| %>
      <tr>
        <td><%= profesor.nombre %></td>
        <td><%= profesor.colegio.nombre %></td>   
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New profesor", new_profesor_path %>
