<p style="color: green"><%= notice %></p>

<% content_for :title, "Profesores" %>

<h1>Profesores</h1>

<div id="profesores">
  <ul class="list-group">
    <% @profesores.each do |profesor| %>
      <li class="list-group-item">
        Nombre: <%=profesor.nombre%>
        <p> 
          <%= link_to "Mostrar este profesor", profesor, class: "btn btn-primary" %>   
        </p>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Nuevo profesor", new_profesor_path, class: "btn btn-success mt-3" %>
