<% content_for :title, "Nuevo profesor" %>

<h1>Nuevo profesor</h1>

<%= render "form", profesor: @profesor %>

<br>

<div>
  <%= link_to "Volver a profesores", profesores_path, class: "btn btn-secondary" %>
</div>
