<div id="<%= dom_id materia %>">
  <p>
    <strong>Nombre:</strong>
    <%= materia.nombre %>
  </p>

  <p>
    <strong>Profesor:</strong>
    <%= materia.profesor_id %>
  </p>

  <p>
    <strong>Colegio:</strong>
    <%= materia.colegio_id %>
  </p>

</div>
