<% content_for :title, "Editar materia" %>

<h1>Editar materia</h1>

<%= render "form", materia: @materia %>

<br>

<div>
  <%= link_to "Mostrar esta materia", @materia, class: "btn btn-secondary" %> |
  <%= link_to "Regresar a materias", materias_path, class: "btn btn-secondary" %>
</div>
