<p style="color: green"><%= notice %></p>

<% content_for :title, "Materias" %>

<h1>Materias</h1>

<div id="materias">
  <ul class="list-group">
    <% @materias.each do |materia| %>
      <li class="list-group-item">
        Nombre de la materia: <%=materia.nombre%>
        <p> 
          <%= link_to "Mostrar esta materia", materia, class: "btn btn-primary" %>   
        </p>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Nueva materia", new_materia_path, class: "btn btn-success mt-3" %>