<% content_for :title, "Nuevo materia" %>

<h1>Nueva materia</h1>

<%= render "form", materia: @materia %>

<br>

<div>
  <%= link_to "Volver a materias", materias_path, class: "btn btn-secondary" %>
</div>