<% content_for :title, "Editar colegio" %>

<h1>Editar colegio</h1>

<%= render "form", colegio: @colegio %>

<br>

<div>
  <%= link_to "Mostrar este colegio", @colegio, class: "btn btn-secondary" %> |
  <%= link_to "Regresar a colegios", colegios_path, class: "btn btn-secondary" %>
</div>
