<% content_for :title, "Editing colegio" %>

<h1>Editing colegio</h1>

<%= render "form", colegio: @colegio %>

<br>

<div>
  <%= link_to "Show this colegio", @colegio %> |
  <%= link_to "Back to colegios", colegios_path %>
</div>
