<% content_for :title, "Nuevo colegio" %>

<h1>Nuevo colegio</h1>

<%= render "form", colegio: @colegio %>

<br>

<div>
  <%= link_to "Volver a colegios", colegios_path, class: "btn btn-secondary" %>
</div>
