<% content_for :title, "Editar nota" %>

<h1>Editar nota</h1>

<%= render "form", nota: @nota %>

<br>

<div>
  <%= link_to "Mostrar esta nota", @nota , class: "btn btn-secondary"%> |
  <%= link_to "Regresar a notas", notas_path, class: "btn btn-secondary" %>
</div>