<% content_for :title, "Editing nota" %>

<h1>Editing nota</h1>

<%= render "form", nota: @nota %>

<br>

<div>
  <%= link_to "Show this nota", @nota %> |
  <%= link_to "Back to notas", notas_path %>
</div>
